.empty-block {
    height: 50px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.error {
    border: solid 1px green;
    border-radius: 4px;
    padding: 10px;
}

.error-medium {
    border: solid 1px blue;
}

.error-big {
    border: solid 1px red;
}